/* Variables couleur et font */
:root{
  --font: 'PT Sans', sans-serif;
  --couleur_principale: #f1f1f1;
  --couleur_secondaire: #d4d9dd;
  --couleur_trois: #bbb6b6;
  --couleur_quatre: #424246;
  --couleur_cinq: #212121;
}

/* Body */
body {
  background: #2980b9; 
  background: linear-gradient(to right, var(--couleur_trois), var(--couleur_principale)); 
  min-width: 400px;
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
/* Titre principale */
h1{
  font-size: 3em;
  text-shadow: 5px 3px 4px rgba(19, 23, 36, 0.75);
  color: var(--couleur_principale);
  padding: 0%;
  margin: 0%;
}
/* Container principale */
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px
}
/* Container des cards */
.card-container {
  display: flex;
}

/* Card gauche */
.main-card {
  background-color: var(--couleur_quatre);
  width: 400px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 60px;
  border-radius: 20px 0px 0px 20px;
  color: var(--couleur_principale);
}
/* Card droite */
.second-card {
  background-color: var(--couleur_cinq);
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 0px 20px 20px 0px;
  color: var(--couleur_secondaire);
}
/* Nom de la Ville actuelle */
#ville {
  text-transform: capitalize;
  font-size: 4em;
}
/* Météo actuelle */
.temps {
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* Température actuelle */
#temperature {
  font-size: 4em;
}

/* Listes des jours prévisionnelles */
.liste-jours {
  display: flex;
  justify-content: center;
  gap: 10px;
}
/* Style des div des jours prévisionelles */
.liste-jours > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 75px;
  height: 150px;
  border: 1px solid red;
}
/* Span des jours prévisionelles */
.liste-jours > div > * span {
  font-size: 18px;
}
/* Input de changement de ville */
#villeInput {
  cursor: pointer;
  font-size: 2em;
  background-color: var(--couleur_principale);
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 1px var(--couleur_secondaire);
  border: none;
  text-align: center;
}
/* Placeholder de l'input */
::placeholder{
  color: var(--couleur_quatre);
}
/* Style des SVG */
#svg{
  display: flex;
  justify-content: center;
  width: 80px;
}
.svg{
  width: 100%;
}