body {
  background: #2980b9;
  background: -webkit-linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
  min-width: 400px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main-card {
  background-color: blue;
  width: 350px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.second-card {
  background-color: aqua;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#ville {
  text-transform: capitalize;
  font-size: 4em;
}

.temps {
  font-size: 4em;
}

#temperature {
  font-size: 4em;
}

#changer {
  background: rgba(178, 223, 251, 0.3);
}

.card-container {
  display: flex;
}

.liste-jours {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.liste-jours > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 75px;
  height: 150px;
  border: 1px solid red;
}

.liste-jours > div > * span {
  font-size: 18px;
}

.change_button {
  cursor: pointer;
  font-size: 2em;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(116, 255, 235, 0.7);
  box-shadow: 0px 0px 20px 1px rgba(116, 255, 235, 0.7);
}
